{:paths ["src"]
 :deps {org.clojure/clojure        {:mvn/version "1.11.3"}
        http-kit/http-kit          {:mvn/version "2.8.0"}      ;; tiny, fast web server
        cheshire/cheshire          {:mvn/version "5.13.0"}}}   ;; JSON
